<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookshelf page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{../webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}" type="text/css"/>

</head>
<body>
    <nav>
        <div th:replace="~{menu :: menu(bookShelf)}">
        </div>
    </nav>
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-lg-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light active">Все</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Работа</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Учеба</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Разное</a>
                </div>
            </div>
            <div class="col-lg-9">
                <section>
                    <div class="row">
                        <div id="row-item" class="col" th:each="bookInfoDto: ${bookList}">
                            <div id="bookshelf-item-card" class="card">
                                <div class="view overlay">
                                    <img id="bookshelf-item-img" th:src="${bookInfoDto.imageLink}" class="card-img-top" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <p id="bookshelf-item-title" class="card-title" th:text="${bookInfoDto.title}"></p>
                                </div>
                                <div class="btn-group" role="group">
                                    <a th:href="@{'/shelf/notActive/' + ${bookInfoDto.id}}" type="button" class="btn btn-outline-info btn-xs">Прочитано</a>
                                    <a th:href="@{'/shelf/delete/' + ${bookInfoDto.id}}" type="button" class="btn btn-outline-warning btn-xs">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:insert="~{footer :: foot}">
    </div>
</footer>
</html>