<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookshelf page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{../webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}" type="text/css"/>

</head>
<body>
    <nav>
        <div th:replace="~{menu :: menu(bookShelf)}">
        </div>
    </nav>
    <div class="container my-4">
        <section>
            <div class="row">
                <div id="row-item" class="col-md-3 mb-3" th:each="bookInfoDto: ${bookList}">
                    <div class="card">
                        <div class="view overlay">
                            <img th:src="${bookInfoDto.imageLink}" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${bookInfoDto.title}"></h5>
                            <hr>
                            <p class="card-text mb-3" th:utext="${#strings.replace(#strings.replace(bookInfoDto.authors, '[',''), ']','')}"></p>
                            <hr>
                            <div class="row">
                                <a id="read-fragment-but" class="btn btn btn-outline-info my-2 my-sm-0 mr-3" type="submit">Добавить</a>
                                <a th:href="@{'/book/' + ${bookInfoDto.id}}" class="btn btn-light">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<footer>
    <div th:insert="~{footer :: foot}">
    </div>
</footer>
</html>